* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #999;
  max-width: 2000px;
  width: 100%;
  min-height: 100vh;
  margin: auto;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  .row1,
  .row2,
  .row3 {
    flex-basis: calc(100%/3);
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    div {
      flex-basis: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border: 1px solid black;
      box-sizing: border-box;
    }
  }

  .row1 {
    div {
      &:nth-child(1) {
        background-color: #641E16;
      }

      &:nth-child(2) {
        background-color: #7B241C;
      }

      &:nth-child(3) {
        background-color: #922B21;
      }

      &:nth-child(4) {
        background-color: #A93226;
      }
    }
  }

  .row2 {
    div {
      &:nth-child(1) {
        background-color: #1B5E20;
      }

      &:nth-child(2) {
        background-color: #2E7D32;
      }

      &:nth-child(3) {
        background-color: #388E3C;
      }

      &:nth-child(4) {
        background-color: #43A047;
      }
    }
  }

  .row3 {
    div {
      &:nth-child(1) {
        background-color: #1A237E;
      }

      &:nth-child(2) {
        background-color: #283593;
      }

      &:nth-child(3) {
        background-color: #303F9F;
      }

      &:nth-child(4) {
        background-color: #3949AB;
      }
    }
  }
}

@media (max-width: 992px) {
  .wrapper {
    min-height: 200vh;

    .row1,
    .row2,
    .row3 {
      flex-basis: calc(100%/3);

      div {
        flex-basis: 50%;
      }
    }
  }
}

@media (max-width: 576px) {
  .wrapper {
    min-height: 400vh;

    .row1,
    .row2,
    .row3 {
      flex-basis: calc(100%/3);

      div {
        flex-basis: 100%;
      }
    }
  }
}