.wrapper {
  .row1 {
    &>div:nth-child(3) {

      &>div {
        transition: .2s;
        transform: rotate(0);

        &>span {
          transition: top .2s .2s, bottom .2s .2s, transform .2s, opacity .2s .1s;
        }
      }

      &>div.active {
        transition: .2s .2s;
        transform: rotate(90deg);

        &>span {
          transition: top .2s, bottom .2s, transform .2s .2s, opacity .2s .1s;

          &:nth-child(1) {
            transform: rotate(45deg);
            top: calc(50% - 10px);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform: rotate(-45deg);
            bottom: calc(50% - 10px);
          }
        }
      }
    }
  }
}