.wrapper {
  .row2 {
    &>div:nth-child(1) {

      &>div {
        position: relative;

        &>span {
          transition: top .2s .2s, bottom .2s .2s, left .2s .2s, transform .2s, opacity .2s .1s;

          &:nth-child(2) {
            left: 0px;
            opacity: 1;
          }
        }
      }

      &>div.active {

        &>span {
          transition: top .2s, bottom .2s, left .2s, transform .2s .2s, opacity .2s .1s;

          &:nth-child(1) {
            transform: rotate(45deg);
            top: calc(50% - 10px);
          }

          &:nth-child(2) {
            position: absolute;
            left: -50px;
            opacity: 0;
          }

          &:nth-child(3) {
            transform: rotate(-45deg);
            bottom: calc(50% - 10px);
          }
        }
      }
    }
  }
}